<div class="home-callout text-center container-fluid">
  <h1><i class="fa fa-tree"></i> Welcome to Trails</h1>
  <h3>The comprehensive logistics and planning app for outdoor adventure.</h3>
</div>
<div class="container home-signup-links">
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Create an Account</h2>
        <h4 class="text-center">Sign up now to start logging your trips and tracking your leadership development!</h4>
        <%= link_to "Sign Up", "#", class: 'btn btn-primary btn-large btn-block' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Pro Account</h2>
        <h4 class="text-center">Sign up as a Director or Coordinator to gain access to admin modules.</h4>
        <%= link_to "Sign Up", "#", class: 'btn btn-primary btn-large btn-block' %>
      </div>
    </div>
  </div>
</div>